name: Mac Build

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build macOS App
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Briefcase
        run: pip install briefcase

      - name: Package macOS App
        run: briefcase package macOS --adhoc-sign -p

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: macOS-App
          path: dist/*.dmg
          if-no-files-found: error
